/* src/styles/pages/PuzzlePage.css */
:root {
  --board-size: 300px;
  --cell-size: 60px;
  --board-color: #666;
}

:root[data-theme-mode='dark'] {
  --board-color: #999;
}

/* Board */
.board-wrapper {
  user-select: none;
  
}

.board {
  font-family: "Lora", "Times New Roman", serif;
  margin: 10px auto 0;
  width: var(--board-size);
  height: var(--board-size);
  border: 1px solid var(--board-color);
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.board-cell {
  padding: 8px 0 0;
  border: 1px solid var(--board-color);
  text-align: center;
}

.board-cell.null {
  background-color: var(--board-color);
}

.board-cell.today {
  background-color: var(--accent);
  color: var(--main-bg);
}

/* Ground */
.ground {
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 200px;
}

.ground-item {
  width: 25%;
  height: 100px;
}

/* Puzzle Pieces */
.puzzle-piece {
  display: grid;
  gap: 0;
  position: absolute;
  transform: scale(0.4);
  transition: transform 200ms 0s ease;
  pointer-events: none;
}

.puzzle-piece#piece1,
.puzzle-piece#piece2,
.puzzle-piece#piece3 {
  grid-template-columns: repeat(2, 1fr);
}

.puzzle-piece#piece4,
.puzzle-piece#piece5 {
  grid-template-columns: repeat(3, 1fr);
}

.puzzle-piece#piece6,
.puzzle-piece#piece7,
.puzzle-piece#piece8 {
  grid-template-columns: repeat(3, 1fr);
}

.puzzle-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  opacity: 0.7;
  border: none;
  pointer-events: auto;
}

#piece1 .puzzle-cell {
  background-color: #66c3a6;
}

#piece2 .puzzle-cell {
  background-color: #fd8e62;
}

#piece3 .puzzle-cell {
  background-color: #8ea1cc;
}

#piece4 .puzzle-cell {
  background-color: #e88bc4;
}

#piece5 .puzzle-cell {
  background-color: #a7d954;
}

#piece6 .puzzle-cell {
  background-color: #ffda2f;
}

#piece7 .puzzle-cell {
  background-color: #e6c595;
}

#piece8 .puzzle-cell {
  background-color: #b4b4b4;
}

.puzzle-cell.null {
  visibility: hidden !important;
}

.puzzle-piece.hint .puzzle-cell {
  background: linear-gradient(-45deg,
    #fff6 25%, #0006 25%, #0006 50%, #fff6 50%, #fff6 75%, #0006 75%, #0006
  );
}

/* Record */
.record-board-wrapper {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: var(--board-size);
}

.record-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  border: 1px solid var(--board-color);
}

.board-cell.link {
  text-decoration: underline;
  cursor: pointer;
}

.board-cell.clear {
  font-size: 0.95rem;
}

/* Record Import/Export */
.record-import-export {
  margin: 20px auto;
  width: var(--board-size);
  display: flex;
  flex-direction: column;
}

#stored-record {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  font-family: monospace;
}

/* Buttons */
button {
  display: block;
  margin: 10px auto;
  height: 30px;
  width: 240px;
  border-radius: 5px;
  font-size: 1em;
  font-family: inherit;
  color: #333;
  background-color: var(--theme-light);
  border: 1px solid var(--theme-light);
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  border: 1px solid var(--theme-light);
}

button.inactive {
  background-color: #999;
  border: 1px solid #999;
  cursor: not-allowed;
}