/* src/styles/pages/PuzzlePage.css */
:root {
  --board-size: 300px;
  --cell-size: 60px;
  --board-color: #664B4F;
}

:root[data-theme-mode='dark'] {
  --board-color: #664B4F;
}

/* Board */
.board-wrapper {
  user-select: none;
  
}

.board {
  font-family: "Lora", "Times New Roman", serif;
  margin: 10px auto 0;
  width: var(--board-size);
  height: var(--board-size);
  /* border: 1px solid var(--board-color); */
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}
/* 
.board-cell {
  padding: 8px 0 0;
  border: 1px solid var(--board-color);
  text-align: center;
} */

.board-cell.null {
  background-color: var(--board-color);
}

.board-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid var(--board-color) ; 
  box-sizing: border-box;
}

.cell-label {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 0.6rem;
  /* color: #666; */
  pointer-events: none;
}

/* Ground */
.ground {
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 200px;
}

.ground-item {
  width: 25%;
  height: 100px;
}

/* Puzzle Pieces */
.puzzle-piece {
  display: grid;
  gap: 0;
  position: absolute;
  transform: scale(0.4);
  transition: transform 200ms 0s ease;
  pointer-events: none;
}



.puzzle-piece#piece1,
.puzzle-piece#piece2,
.puzzle-piece#piece3,
.puzzle-piece#piece4,
.puzzle-piece#piece5,
.puzzle-piece#piece6,
.puzzle-piece#piece7,
.puzzle-piece#piece8,
.puzzle-piece#piece9,
.puzzle-piece#piece10,
.puzzle-piece#piece11,
.puzzle-piece#piece12 {
  grid-template-columns: repeat(4, 1fr);
}


.puzzle-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  opacity: 0.7;
  border: none;
  pointer-events: auto;
}

#piece1 .puzzle-cell,
#piece2 .puzzle-cell,
#piece3 .puzzle-cell{
  background-color: #66c3a6;
}

#piece4 .puzzle-cell,
#piece5 .puzzle-cell,
#piece6 .puzzle-cell{
  background-color: #fd8e62;
}

#piece7 .puzzle-cell,
#piece8 .puzzle-cell,
#piece9 .puzzle-cell{
  background-color: #8ea1cc;
}

#piece10 .puzzle-cell,
#piece11 .puzzle-cell,
#piece12 .puzzle-cell{
  background-color: #e88bc4;
}

.puzzle-cell.null {
  visibility: hidden !important;
}



.board-cell.link {
  text-decoration: underline;
  cursor: pointer;
}

.board-cell.clear {
  font-size: 0.95rem;
}