.typing-game-page h1 {
  color: #0004ff;
}
.correct {
  color:aqua;
}
.ato {
  color: brown;
}
.current {
  color: #ffdd00;
}
.problem {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  margin: 1.5% 10%;
  width: 80%;
  
}