/* professorImage.css */
.professor-container {
    width: 100%;
    height: 100vh; /* ビューポートの高さいっぱいに */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.professor {    
    width: 100%;
    height: 100%;
    background-size: contain; /* 画像が完全に表示されるようにする */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防止 */
}